
body {
    background-image: linear-gradient(#8f69ab 0%, #412f4a 46%);
    font-family: "League Gothic", Arial, sans-serif;
    font-size: 16px;
    }

p  {font-family: "Open Sans", Arial, sans-serif;
    font-size: 1em;}
/*главный контейнер*/
.wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 2400px;
      height: 1px;
      min-height: 2306px;
      }
    /*Шапка*/
.header {
      width: 100%;
      min-width: 960px;
      height: 36.7%;
      background: #745083 url(..//img/bg_top.jpg) center top no-repeat;
      }
      .header_Content {
          margin: 0 auto;
          width: 40%;
          min-width: 960px;
          height: 100%;
          }
          .logo {
              margin-top: 6.1%;
              float: left;
              }
              .logo__img {
                  width: 152px;
                  height: 50px;
                  background-image: url(..//img/logo.svg);
                  background-repeat: no-repeat;
                  background-position: -2px 0;
                  }
        /*Меню*/
          .menu {
              display: block;
              margin-top: 7.3%;
              width: 71.2%;
              min-width: 683.52px;
              height: 3.306%;
              float: right;
              }
              .menu__link {
                  margin-left: 7.023%;
                  font-family: "League Gothic";
                  font-size: 1.5em;
                  text-transform: uppercase;
                  text-decoration: none;
                  color: #ffffff;
                  line-height: 1.405;
                  text-align: left;
                  text-shadow: 1px 1.732px 2px rgba(0, 0, 0, 0.4);
                  }
                  .menu__link:hover {
                      border-bottom: solid 2px #edbfff;
                      }
/*Главный блок*/
.main {
      background: url(..//img/bg__body.jpg) repeat-x center top;
      height: 58.361%;
      }
      .mainTop {
          margin: 0 auto;
          height: 25.35%;
          width: 100%;
          border-top: solid 1px #33253a;
          box-sizing: border-box;
          }
          .topInner {
              margin: 0 auto;
              width: 40%;
              min-width: 960px;
              height: 100%;
              }
              /*Инструменты*/
              .topLeft {
                  width: 33.33333%;
                  height: 100%;
                  float: left;
                  /*background: yellow;*/
                  }
                  .icons {
                      float: left;
                      width: 8.44%;
                      height: 24.2%;
                      background-image: url(..//img/sprite-icons1.svg);
                      background-repeat: no-repeat;
                      background-size: cover;
                      }
                      .icons_wrench {
                          margin-top: 26%;
                          margin-left: 3%;
                          width: 27px;
                          height: 27px;
                          }
                    .icons_bubble {
                        margin-top: 26%;
                        margin-left: 3%;
                        width: 27px;
                        height: 27px;
                        background-position-y: -27px;
                        }
                    .icons_music {
                        margin-top: 26%;
                        margin-left: 3%;
                        width: 27px;
                        height: 27px;
                        background-position-y: -54px;
                        }
                  .about_company {
                      margin-top: 24.69%;
                      margin-left: 16%;
                      width: 76.4%;
                      height: 90%;
                      display: block;
                      overflow: hidden
                      }
                      .topic3 {
                          margin-left: 4.95%;
                          margin-bottom: 4.7%;
                          letter-spacing: -0.4px;
                          font-size: 1.875em;
                          text-transform: uppercase;
                          color: #ffffff;
                          line-height: 0.8;
                          text-shadow: 0.5px 0.866px 0px #0f1518;
                          }
                      .description {
                          margin-left: 4.2%;
                          color: #ffffff;
                          line-height: 1.5em;
                          text-shadow: 1.5px 0.866px 0px #0f1518;
                          }

/*Сообщения*/
.topCenter {
    width: 33.33333%;
    height: 100%;
    float: left;
    }

/*Музыка*/
.topRight {
    width: 33.33333%;
    height: 100%;
    float: right;;
    /*background: blue;*/
    }
/*Центральный главный блок*/
.mainCenter {
    margin: 0 auto;
    height: 45.15%;
    width: 100%;
    border-top: solid 1px #0d151b;
    box-sizing: border-box;
    background: #f9f9f9;
}
/*Нижний главный блок*/
.bottomConteiner {
  margin: 0 auto;
    height: 29.5%;
    background: #ececec;
}
/*Подвал*/
.footer {
    height: 4.95%;
    background:#ececec url(..//img/bg_bottom.jpg) no-repeat center top;
    }

.footerInner {
  margin: 0 auto;
  width: 960px;
  height: 100%
}
/*Меню подвал*/
.menu-footer {
    float: left;
}
